<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	    <settings>
	    	<setting name="jdbcTypeForNull" value="NULL"/> <!-- 값이 null일 경우 null값 넣기 -->
	    	<setting name="mapUnderscoreToCamelCase" value="True"/> <!-- 언더스코어 표기법을 카멜 케이스로 자동 변환하는 설정 -->
	    </settings>
    
    <typeAliases>
		<typeAlias type="com.semi.project.festival.entity.Festival" alias="festival"/>
		<typeAlias type="com.semi.project.user.entity.User" alias="user"/>
		<typeAlias type="com.semi.project.reply.entity.Reply" alias="reply"/>
    </typeAliases>
    
    
</configuration>