<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.semi.project.festival.mapper.IFestivalMapper">
	<sql id="search">
     	<if test="season =='spring'"> <!-- 엔티티에서 get set 생략한 것으로 쓰기 -->
     		WHERE season = '봄'
     	</if>
     	
     	<if test="season =='summer'">
     		WHERE season = '여름'
     	</if>
     	
     	<if test="season =='fall'">
     		WHERE season = '가을'
     	</if>
     	
     	<if test="season =='winter'">
     		WHERE season = '겨울'
     	</if>
     </sql>
     
     <sql id="searchArea">
     	<if test="name =='서울특별시'"> <!-- 엔티티에서 get set 생략한 것으로 쓰기 -->
     		WHERE admn_area LIKE '%서울특별시%'
     	</if>
     	<if test="name =='강원도'"> <!-- 엔티티에서 get set 생략한 것으로 쓰기 -->
     		WHERE admn_area LIKE '%강원도%'
     	</if>
     	<if test="name =='경기도'"> <!-- 엔티티에서 get set 생략한 것으로 쓰기 -->
     		WHERE admn_area LIKE '%경기도%'
     	</if>
     	<if test="name =='경상남도'"> <!-- 엔티티에서 get set 생략한 것으로 쓰기 -->
     		WHERE admn_area LIKE '%경상남도%'
     	</if>
     	<if test="name =='경상북도'"> <!-- 엔티티에서 get set 생략한 것으로 쓰기 -->
     		WHERE admn_area LIKE '%경상북도%'
     	</if>
     	<if test="name =='대구광역시'"> <!-- 엔티티에서 get set 생략한 것으로 쓰기 -->
     		WHERE admn_area LIKE '%대구광역시%'
     	</if>
     	<if test="name =='대전광역시'"> <!-- 엔티티에서 get set 생략한 것으로 쓰기 -->
     		WHERE admn_area LIKE '%대전광역시%'
     	</if>
     	<if test="name =='부산광역시'"> <!-- 엔티티에서 get set 생략한 것으로 쓰기 -->
     		WHERE admn_area LIKE '%부산광역시%'
     	</if>
     	<if test="name =='세종특별자치시'"> <!-- 엔티티에서 get set 생략한 것으로 쓰기 -->
     		WHERE admn_area LIKE '%세종특별자치시%'
     	</if>
     	<if test="name =='울산광역시'"> <!-- 엔티티에서 get set 생략한 것으로 쓰기 -->
     		WHERE admn_area LIKE '%울산광역시%'
     	</if>
     	<if test="name =='인천광역시'"> <!-- 엔티티에서 get set 생략한 것으로 쓰기 -->
     		WHERE admn_area LIKE '%인천광역시%'
     	</if>
     	<if test="name =='전라남도'"> <!-- 엔티티에서 get set 생략한 것으로 쓰기 -->
     		WHERE admn_area LIKE '%전라남도%'
     	</if>
     	<if test="name =='전라북도'"> <!-- 엔티티에서 get set 생략한 것으로 쓰기 -->
     		WHERE admn_area LIKE '%전라북도%'
     	</if>
     	<if test="name =='제주특별자치도'"> <!-- 엔티티에서 get set 생략한 것으로 쓰기 -->
     		WHERE admn_area LIKE '%제주특별자치도%'
     	</if>
     	<if test="name =='충청남도'"> <!-- 엔티티에서 get set 생략한 것으로 쓰기 -->
     		WHERE admn_area LIKE '%충청남도%'
     	</if>
     	<if test="name =='충청북도'"> <!-- 엔티티에서 get set 생략한 것으로 쓰기 -->
     		WHERE admn_area LIKE '%충청북도%'
     	</if>
     	<if test="name =='광주광역시'"> <!-- 엔티티에서 get set 생략한 것으로 쓰기 -->
     		WHERE admn_area LIKE '%광주광역시%'
     	</if>
     	
     </sql>

	<select id="getFestival" resultType="Festival">
		SELECT
		ftv_num,
		ftv_name, phone, place, url, ftv_content, start_date, end_date,
		road_addr, latitude, longitude
		FROM festival
		<include refid="search" />
	</select>
	
	<select id="getFestivalName" resultType="Festival">
		SELECT
		ftv_num,
		ftv_name, phone, place, url, ftv_content, start_date, end_date,
		road_addr, latitude, longitude
		FROM festival
		WHERE ftv_name LIKE '%'||#{ftvName}||'%'
	</select>
	
	<select id="getFestivalByArea" resultType="Festival">
		SELECT
		ftv_num,
		ftv_name, phone, place, url, ftv_content, start_date, end_date,
		road_addr, latitude, longitude
		FROM festival
		<include refid="searchArea" />
	</select>
</mapper>
