<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.semi.project.reply.mapper.IReplyMapper">
	
	<!--  <insert id="replyRegist">
		INSERT INTO reply
		(comment_num, content, user_id, ftv_num)
		VALUES(SEQ_reply_comment_num.NEXTVAL, #{content}, #{userId}, #{ftvNum})
	</insert>  -->
	
	<select id="getList" resultType="reply">
		SELECT  * FROM
			(
			SELECT ROWNUM AS RN, tbl.* FROM
				(
				SELECT * FROM reply
				WHERE ftv_num = #{ftvNum}
				ORDER BY comment_num DESC

				) tbl
			)
		<![CDATA[
		WHERE rn > #{paging.pageStart} AND rn <= #{paging.pageEnd}
		]]> <!-- 부등호를 사용하기위한 코드 -->
	</select>
	
	<select id="getTotal" resultType="int">
		SELECT COUNT(*)
		FROM reply
		WHERE ftv_num = #{ftvNum}
	</select>
	
	
</mapper>